.classContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100vh;
    margin: auto;
    background-color: #1d1d1d;
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 31px 21px rgba(255, 255, 255, 0.01);
    margin-block: 30px;
    color: white;
    * {
        margin: 0 auto;
    }

    & .modules__list{
        margin-top: 54px;
        width: 400px;
        max-height: 90.5%;
        background-color: #000;
        border-radius: 0 10px 10px 0;
        overflow: hidden;
        svg{
            color: white;
        }
    }

    & .player__container{
        width: 90%;
        
        iframe{
            margin-block: 30px;
            border-radius: 10px 0 0 10px;
        }
    }

}