.content{
}

.player1 {
    max-width: fit-content;
}

.vid {
    font-size: 35px;
    display: flex;
}

.title {
    font-size: 35px;
    max-width: fit-content;
    
}

.description {
    color: solid white;
    font-size: 25px ;
}

.list {
    font-size: 15px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.subitem {
    color:rgb(193, 193, 193);
}
